html, body {
  color: #484848;
  background-color: #f9f9f9;
  font-family: "Roboto",sans-serif;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar {
  padding: 0 3vw 0 3vw;
  background-color: #6653ff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
}

.navbar-toggleable-md .navbar-collapse {
  width: 26em;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

a {
  color: #6653ff;
}

p {
  padding: 0;
  margin: 0;
}

.navbar-brand {
  color: #f9f9f9;
  font-size: 125%;
  margin: 0 1em 0 0;
}

.navbar-brand:hover {
  color: #f9f9f9;
}

.nav-link {
  height: 53px;
  padding: .9em 1em;
}

.navbar-toggler {
  top: 9px;
}

.navbar-toggler:focus {
  outline: none;
}

.pageContent {
  padding: 75px 3vw 0 3vw;
}

.pageSection {
  transition: max-width .25s;
  transition-timing-function: ease-out;
}

.pageSection-enter {
  opacity: 0.01;
}

.pageSection-enter.pageSection-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-out;
}

.outputComponentsHeading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addComponentButton {
  margin-left: 10px;
  margin-bottom: 6px;
}

.outputComponents {
  width: 100%;
  height: 28em;
  border-bottom: 2px solid #696969;
  overflow: scroll;
  padding: 5px 5px 5px 5px;
}

.noLeftBorder {
  border-left: none;
}

.leftBorder {
  border-left: 2px solid #696969;
}

@media (max-width: 991px) {
  .outputComponents {
    border: 2px solid #696969;
    border-radius: 4px;
    margin-bottom: 2em;
  }
}

.outputComponentListItem {
  display: flex;
  height: 25px;
}

.outputComponentListItemName {
  width: 75%;
  height: 100%;
  font-weight: bold;
}

.outputComponentListItemInput {
  width: 100%;
}

.outputComponentChild {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.move {
  cursor: move;
  user-select: none;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.tree {
  width: 100%;
  height: 28em;
  border-bottom: 2px solid #696969;
  overflow: scroll;
  padding: 5px 5px 5px 5px;
}

.appTreeHeading {
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .tree {
    border: 2px solid #696969;
    border-radius: 4px;
    margin-bottom: 2em;
  }
}

.treeBranchNameRow {
  display: flex;
}

.treeBranchName {
  margin-right: 15px;
  font-weight: bold;
}

.outputPropsActionsBorderContainer {
  display: flex;
  justify-content: center;
  margin-top: .7em;
  margin-bottom: .25em;
}

.greyBorder {
  border-top: thin solid #bbb;
  width: 87%;
}

.borderBottomContainer {
  display: flex;
  justify-content: center;
  margin-top: .5em;
  margin-bottom: .25em;
}

.outputPropsActionsBorderBottom {
  border-top: thin solid #6653ff;
  width: 95%;
}

.treeBranchModifyItem {
  display: flex;
  align-items: center;
}

.outputPropOrActionLabel {
  margin-right: 5px;
}

.outputPropNameInput {
  width: 7em;
  margin-right: 15px;
}

.outputPropOrActionSelect {
  width: 6em;
  height: 30px;
  margin-right: 15px;
}

.treeBranchPropsActions {
  display: flex;
  flex-wrap: wrap;
}

.treeBranchPropOrAction {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.deletePlaceHolder {
  width: 24px;
}

.purpleUnderline {
  text-decoration: underline;
  text-decoration-color: #6653ff;
}

.whiteUnderline {
  border-bottom: 2px solid #f9f9f9;
  background-color: #7565fb;
}

.reactBlue {
  color: #00d8ff;
}

.green {
  color: #44D62C;
}

.red {
  color: #e50914;
}

.purple {
  color: #6653ff;
}

.white {
  color: #f9f9f9
}

.outputStoreSchemaHeading {
  display: flex;
  justify-content: center;
}

.outputStoreFormTextArea {
  overflow: scroll;
  width: 100%;
  height: 28em;
  border-bottom: 2px solid #696969;
  border-top: none;
  border-right: none;
  padding: 5px 5px 5px 5px;
}

@media (max-width: 991px) {
  .outputStoreFormTextArea {
    border: 2px solid #696969;
    border-radius: 4px;
    margin-bottom: 2em;
  }
}

.outputStoreRow {
  display: flex;
  height: 25px;
  white-space: nowrap;
}

.outputStoreRowText {
  margin-right: 1em;
  display: flex;
}

.editPlaceHolder: {
  min-width: 24px;
}

.editDeletePlaceHolder {
  min-width: 48px;
}

.outputStoreObjectProperties {
  display: flex;
}

.outputStoreObjectProperty {
  display: flex;
}

textarea:focus {
  outline: none;
}

.outputStoreFormError {
  color: #FF4136;
  height: 15px;
  line-height: 100%;
}

.outputStoreActionEditFormRow {
  display: flex;
}

.addButton {
  margin-left: 10px;
  margin-bottom: 6px;
}

.outputActionsHeading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addRow {
  display: flex;
  justify-content: center;
}

.outputActionsList {
  height: 28em;
  overflow-y: scroll;
  border-bottom: 2px solid #696969;
}

@media (max-width: 991px) {
  .outputActionsList {
    border: 2px solid #696969;
    border-radius: 4px;
  }
}

.outputActionRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.outputActionCol {
  width: 4.5em;
}

.outputActionColValue {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.outputActionSelect {
  width: 100%;
  height: 30px;
}

.removeOutputAction {
  height: 30px;
}

.outputActionEditDelete {
  margin-right: 3px;
}

.outputActionMouseoverPlaceholder {
  width: 48px;
}

.btn {
  width: fit-content;
  background-color: #6653ff;
  border: 0;
}

.btn:focus {
  outline: none;
}

.submitForm {
  margin-top: 27px;
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .submitForm {
    margin-bottom: 27px;
  }
}


